doctype html
html(lang='en')
  head
    title cart
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  body
    section.container
        .product
            h1 Cart in Total product 
             <hr>
             Total Product: #{cart.totalcount} <br>
             Total Price: #{cart.totalPrice}
            
            
                    
           
            
