doctype html
html(lang='en')
  head
    title Error Page
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  body
    section.container
        .login
            Your email or Passeord is worng