doctype html
html(lang='en')
  head
    title Forget password
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  body
    section.container
        .login
            h1 what is your Registered Email id
        form(method='post', action='http://localhost:8000/user/reset')
           
            
            p
              input(type='email', name='email' value='', placeholder='Email', required='')
              
             p
              input(type='password', name='password' value='', placeholder='Password', required='')
            
            p.submit
              input(type='submit', name='', value='Reset Password' )
            
            h4 Login Here
              a(href="http://localhost:8000/user/login")  click Here               
